$baseImageURL: "../images/";

/* Basic Color
-------------------------- */
$white: #fff;
$lighterGray: #eee;
$lightGray: #ccc;
$gray: #999;
$darkGray: #666;
$darkerGray: #333;
$red: #d45b5b;

/* Theme Color
-------------------------- */
$themeColor: #1c69d4;
$borderColor: #e1e1e1;

/* Font
-------------------------- */
$fontColor: $darkerGray;
$fontFamily: "Microsoft Yahei";
